/* Copyright 2020 The golang.design Initiative authors.
All rights reserved. Use of this source code is governed
by a GPLv3 license that can be found in the LICENSE file. */

/* better scroll bar */
::-webkit-scrollbar {
    width: 10px;
    height: 20px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}