body {
    margin: 0;
}
#banner {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 50px;
	background-color: #E0EBF5;
}
#head {
	float: left;
	padding: 15px 10px;
	font-size: 20px;
	font-family: sans-serif;
}
#controls {
	float: left;
	padding: 10px 15px;
	min-width: 245px;
}
#aboutControls {
	display: flex;
	float: right;
	padding: 10px 15px;
}
#about {
	width: 30%;
	top: 50px;
	height: calc(100vh - 50px);
	margin: 0;
	position: absolute;
	left: 0;
	right: 0;
	background: #FFD;
	display: none;
	z-index: 1;
	padding-left: 10px;
	font-size: 16px;
	font-family: sans-serif;
	overflow: auto;
}
#about p {
	max-width: 520px;
}
#about ul {
	max-width: 480px;
}
#about li {
	margin-bottom: 1em;
}

#funcname {
	width: 200px;
	padding: 6px 12px;
	font-size: 14px;
	color: #555;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
}
#controls > input {
	border-radius: 3px;
}
input[type=button] {
	background: #375EAB;
	color: white;
	text-align: center;
	cursor: pointer;
	border: 1px solid transparent;
	padding: 5.3px 12px;
	font-size: 14px;
	border-radius: 4px;
    user-select: none;
}
input[type=button]:hover {
	background: rgb(36, 75, 152);
}
input[type=button]:active {
	background: rgb(13, 43, 104);
}
input[type=button]:focus {
	outline: 0;
}
#main {
    padding-top: 50px;
	display: flex;
	height: calc(100vh - 50px);
	flex-direction: row;
	overflow: auto;
}
#snippet {
    flex: 30%;
    padding: 10px;
	background: rgba(255, 252, 221, 0.81);
}
#code, #output, pre, .lines {
	font-family: Menlo, monospace;
	font-size: 11pt;
}
#output {
    flex: 70%;
    background-color: #f1f1f1;
}
#outputMsg {
	position: fixed;
	margin: 20px;
}
#code {
	color: black;
	background: inherit;

	width: 100%;
	height: 100%;
	padding: 0; margin: 0;
	border: none;
	outline: none;
	resize: none;
	float: right;
}
.lines {
	float: left;
	overflow: hidden;
	text-align: right;
}
.lines div {
	width: 15px;
	padding-right: 5px;
	color: lightgray;
}

/* Dark Mode Toggle */

/* The switch - the box around the slider */
.switch {
  position: relative;
  margin-right: 20px;
  width: 60px;
  height: 32px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  border-radius: 4px;
  height: 24px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #375EAB;
}

input:focus + .slider {
  box-shadow: 0 0 1px #375EAB;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}